main {
  padding-top: 70px;
  margin-left: 50vw;
  padding-right: 100px;
}

@media only screen and (max-width: 1100px) {
  main {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  main {
    margin-left: 0;
    padding: 30px 50px 0 50px;
  }
}

@media only screen and (max-width: 768px) {
  main {
    padding: 30px 25px 0 25px;
  }
}
